.binlocationTitle {
  padding-top: 20px;
  margin-left: 30px;
  font-size: 30px;
  color: #0a2540;
}

.content {
  font-size: 50px;
  padding-top: 10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: #ffffff;
  color: #0a2540;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: #0a2540;
}
