
.dashboard-container{
    display: flex;
    margin-top: 4px;
    position: fixed;

    
 
}


.dashboard{
   display: flex;
   flex-direction: column;
   flex: 2;
   background-color: #e3e8ee;
   width: 100%;

    
}

.Title {
    font-size: 30px;
    font-weight: 600;
    accent-color: #0A2540;
    margin-top: 30px;
    margin-left: 20px;
}

.TLoanCard {
   
    width: 30rem;
    height: 25vh;
    margin-top: 40px;
    margin-left: 40px;
    position: fixed;
}

.RMACard {
   
    width: 70rem;
    height: 40vh;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    position: fixed;
    
}



