
.dashboard-container{
    display: flex;
    margin-top: 5px;
    position: fixed;
 
}


.dashboard{
   flex: 4;
   background-color: #e3e8ee;
   height: 100vh;
    
}

.Title {
    font-size: 20px;
    font-weight: 700;
    accent-color: #0A2540;
    margin-top: 20px;
    margin-left: 20px;
}

.TLoanCard {
    width: 20rem;
    /* height: 20vh; */
    margin-top: 30px;
    margin-left: 40px;
}
