
.dashboard-container{
    display: flex;
    margin-top: 5px;
    position: fixed;
 
}


.dashboard{
   display: flex;
   flex: 2;
   background-color: #e3e8ee;
    
}

.Title {
    font-size: 20px;
    font-weight: 700;
    accent-color: #0A2540;
    margin-top: 20px;
    margin-left: 20px;
}

.TLoanCard {
    flex: 1;
    width: 20rem;
    height: 20vh;
    margin-top: 40px;
    margin-left: 40px;
}

.RMACard {
    flex: 1;
    width: 20rem;
    height: 20vh;
    margin-top: 40px;
    margin-left: 40px;
}

.TLoanRMAstats {
    flex: 1;
    width: 20rem;
    height: 20vh;
    margin-top: 40px;
    margin-left: 40px;
}