$primary-color: #0a2540;

.formheader {
  @media screen and (min-width: 800px) {
    margin-left: 8% !important;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 800px) {
    padding-bottom: 35px;
  }

  font-weight: 700;
}

.formsubheading {
  @media screen and (min-width: 800px) {
    margin-left: 8% !important;
    padding-bottom: 20px;
  }

  @media screen and (max-width: 800px) {
    padding-bottom: 35px;
  }
}

.formcontainer {
  color: $primary-color;
  background-color: white !important;

  @media screen and (min-width: 800px) {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 2%;
    margin-top: 80px;
  }

  @media screen and (max-width: 800px) {
    width: auto;
    min-width: 100%;
    display: block;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 20px;
    height: auto;
    min-height: calc(100vh - 67px);
  }

  @media screen and (min-width: 1200px) {
    width: 40% !important;
  }
}

.multiformcontainer {
  color: $primary-color;
  background-color: white !important;

  @media screen and (min-width: 800px) {
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 2%;
    //margin-top: 80px;
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    width: auto;
    min-width: 100%;
    display: block;
    text-align: center;
    padding-top: 12%;
    padding-bottom: 20px;
    height: auto;
    min-height: calc(100vh - 67px);
  }

  @media screen and (min-width: 1200px) {
    width: 50% !important;
  }
}

.formlabels {
  margin-left: 8%;
  font-weight: 450;
  margin-bottom: 14px;
  font-size: 14px;

  @media screen and (max-width: 800px) {
    text-align: left !important;
  }
}

.formcheckbox {
  margin-left: 8%;
  p {
    font-weight: 450;
    font-size: 14px;
  }

  @media screen and (max-width: 800px) {
    text-align: left !important;
  }

}

/*
.formfield {
  width: 85%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  margin-bottom: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  color: $primary-color;
}

.passwordfield {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border-width: 0px;
  border-radius: 15px;
  color: $primary-color;
}
*/

.formfieldcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 85%;
  align-self: center;
}

.passwordicon {
  flex-grow: 1;
  border-radius: 0px 15px 15px 0px;
  border-left: none !important;
  border: 1px solid #d3d3d3;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2px;
}

.errormsg {
  @media screen and (max-width: 800px) {
    text-align: left !important;
  }

  color: red;
  font-size: 0.85em;
  margin-left: 8%;
  margin-top: 5px;
}

select {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -ms-appearance: none !important;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" xml:space="preserve"><path d="M7.41,8.59L12,13.17l4.59-4.58L18,10l-6,6l-6-6L7.41,8.59z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
  background-position: center right;
  background-repeat: no-repeat;
}

.formselect {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  flex-grow: 1;
  color: #0a2540;
}

.alertdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20;
  margin-bottom: -20;
}

.formnavigationcontainer {
  margin-top: 25px;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: space-between;
}

.formnavigation {
  color: $primary-color;
  margin-right: auto;
  text-decoration: none;
  font-weight: 700;
  background: none;
  border: none;
}

.nextbutton {
  margin-left: auto;
  width: 25%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  border-radius: 25px;
  border: solid 1px $primary-color;
  background-color: $primary-color;
  font-size: 23;
  color: white;
}

.showstep {
  display: block;
}

.hidestep {
  display: none;
}

// .textfield {
//   padding-left: 10px;
//   color: #0A2540;
//   flex-grow: 1;
//   border: solid 1px transparent;
//   .MuiOutlinedInput-root{
//     font-size: 10;
//   }
//   .MuiOutlinedInput-notchedOutline legend {
//     display: none;
//   }
// }

.textfield {
  color: #0a2540;
  flex-grow: 1;
  .MuiOutlinedInput-root {
    font-size: 10px;
  }
  .MuiOutlinedInput-notchedOutline {
    display: none;
  }
}

.selectfield {
  color: #0a2540;
  flex-grow: 1;
  border: solid 1px #d3d3d3;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  .MuiOutlinedInput-root {
    font-size: 10px;
  }
  .MuiOutlinedInput-notchedOutline {
    display: none;
  }
}

.smallselectfield {
  color: #0a2540;
  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
}

.selectlist {
  border: solid 1px #d3d3d3;
  display: flex;
  flex-direction: row;
  background-color: #e3e8ee;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ql-editor {
  font-size: 15px;
  height: 150px;
  //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
