$primary-color: #0A2540;
$outer-margin: 5%;

.brand {
    font-weight: 600;
    @media screen and (min-width: 800px) {
        margin-left: $outer-margin;
    }

}
nav a {
        color: $primary-color !important;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: -5px;
        margin-top: 5px;
        margin-bottom: -5px;
        &:hover {
            color: #6c7c8c !important;
        }
}

.navitems {
    @media screen and (min-width: 800px) {
        margin-left: 1% !important;
    }
}

@at-root
.navlinks {
    @media screen and (min-width: 800px) {
        margin-right: $outer-margin;
    }

}

.profile {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#navbarProfileDropdown::after {
    display: none;
 }