.product-container {
    display: flex;
    margin-top: 5px;
    position: fixed;
}

.product {
    display: flex;
    flex: 2;
    background-color: #e3e8ee;
    
}

.Table {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
