.product-container {
    display: flex;
    position: fixed;
}

.product {
    display: flex;
    flex: 2;
    background-color: #e3e8ee;
    width: 100%;
    
}

.Table {
    margin: 40px;
}

.pageNumbers {
    list-style: none;
    display: flex;
   
    
}

.pageNumbers li {
    padding: 10px;
    cursor: pointer;
}