.product-container {
    display: flex;
    position: fixed;
}

.product {
    display: flex;
    flex: 2;
    background-color: #e3e8ee;
    width: 100%;
    
}
.pagetitle {
    
}

.searchbar {
    margin-bottom: 20px;
}

.Table {
    margin: 40px;
    margin-left: 20px;
}

.pageNumbers {
    list-style: none;
    display: flex;

    
}

.pageNumbers li {
    padding: 10px;
    cursor: pointer;
    
}